<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>欢迎调戏人工智障miniWatson</title>

<link rel="stylesheet" href="/static/imgs/font-icon/iconfont.css">
<link rel="stylesheet" href="/static/css/demo.css">

</head>

<body>

<div class="header">
	<div class="icon-box">
		<i class="iconfont icon">&#xe637;</i>
	</div>
</div>
<div class="chatbar">
	<div class="chatbar-box">
		<div class="chatbar-contacts">
			<div class="contacts-search-box">
				<i class="iconfont">&#xe651;</i>
				<input type="text" class="search-text" placeholder="请输入要搜索的联系人">
			</div>
			<ul class="chatbar-contacts-uls">
			</ul>
		</div>
		<div class="chatbar-messages">
			<div class="messages-title">
				<i class="iconfont">&#xe752;</i>
				<h4>黄小小</h4>
				<i class="iconfont return-icon">&#xe61a;</i>
			</div>
			<div class="messages-text" id="messages-text">
				<!-- <ul class="messages-text-uls">
					<li class="messages-text-lis">
						<h4><i></i><span>黄小小</span><span class="time">2017/2/23 13:56</span></h4>
						<p>您好！请问您是谁？我和你认识吗？你是哪里人?</p>
					</li>
				</ul> -->
			</div>
			<div class="messages-box">
				<textarea class="messages-content" name="" id="0" cols="30" rows="10"></textarea>
				<input class="message-btn" type="button" value="发送" id="message-btn">
			</div>
		</div>
	</div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/demo.js"></script>
<!--div style="text-align:center;">
<p>更多源码：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
</div-->

<style>
	body{
		background-image: url("/static/imgs/bg.png");
			/*兼容浏览器版本*/
        	-webkit-background-size: cover;
			-o-background-size: cover;                
			background-size: cover;
	}
</style>

</body>
</html>

